---
layout: archive
title: "Posters"
permalink: /posters/
author_profile: true
---

{% include base_path %}

{% if site.talkmap_link == true %}

<p><a href="/talkmap.html?hideTalk=true" style="text-decoration:none; font-size:1.2em;">🌍 See a map of all the posters I've presented!</a></p>

{% endif %}

{% assign poster_categories = "conference,other" | split: "," %}
{% for category in poster_categories %}
  {% assign title_shown = false %}
  {% for post in site.posters reversed %}
    {% if post.category != category %}
      {% continue %}
    {% endif %}
    {% unless title_shown %}
      {% case category %}
        {% when "conference" %}
          {% assign category_title = "Conferences and Workshops" %}
        {% when "other" %}
          {% assign category_title = "Other Posters" %}
        {% else %}
          {% assign category_title = category | capitalize %}
      {% endcase %}
      <h1 style="font-size: 1.5em; margin-top: 2em;">{{ category_title }}</h1><hr />
      {% assign title_shown = true %}
    {% endunless %}
    {% include archive-single-poster.html %}
  {% endfor %}
{% endfor %}
