---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% assign talk_categories = "conference,non-official,other" | split: "," %}
{% for category in talk_categories %}
  {% assign title_shown = false %}
  {% for post in site.talks reversed %}
    {% if post.category != category %}
      {% continue %}
    {% endif %}
    {% unless title_shown %}
      {% case category %}
        {% when "conference" %}
          {% assign category_title = "Conferences" %}
        {% when "non-official" %}
          {% assign category_title = "Supplementary Talks" %}
        {% when "other" %}
          {% assign category_title = "Other Talks" %}
        {% else %}
          {% assign category_title = category | capitalize %}
      {% endcase %}
      <h1 style="font-size: 1.5em; margin-top: 2em;">{{ category_title }}</h1><hr />
      {% assign title_shown = true %}
    {% endunless %}
    {% include archive-single-talk.html %}
  {% endfor %}
{% endfor %}
